{{#if currentUser.isPrivileged}}
  <div class="clearfix"></div>
  <div class="col-md-3 text-right">
    <span class="hidden-xs hidden-sm label-large-transparent label-larger"></span>
  </div>
  <div class='text-center col-md-7'>
    {{#link-to 'district.report' class='btn btn-default district-inner-link'}}Report{{/link-to}}
    {{#link-to 'district.sisters' class='btn btn-default district-inner-link'}}Sisters{{/link-to}}
  </div>
{{/if}}
{{#each sister in sortedSisters}}
  {{#unless sister.isNew}}
    <div class="row">
      <div class="col-md-3">
        <div class="text-center hidden-md hidden-lg label-large-transparent label-larger">{{sister.fullName}}</div>
      </div>
      {{!-- <h4 class="sisterName hidden-xs hidden-sm label-large-transparent label-larger">{{sister.fullName}}</h4> --}}
      <div class="clearfix"></div>
      <div class="col-md-3 text-right">
        <span class="hidden-xs hidden-sm label-large-transparent label-larger">{{sister.fullName}}</span>
      </div>
      <div class="text-center col-md-7">
        <div class="row">
          {{#each visit in sister.visits itemController='visit'}}
            <div class="btn-group well well-sm col-md-6" role="group" aria-label="...">
              <h4 class="text-center"><span class="label label-default label-large-transparent">{{visit.monthFormatted}}</span></h4>
              <div class="col-md-14">
                <label class="btn btn-default">
                  {{view "radioButton"
                    name=visit.id
                    selectedValueBinding="visit.status"
                    value='visited'}}
                  Visited
                </label>
                <label class="btn btn-default">
                  {{view "radioButton"
                    name=visit.id
                    selectedValueBinding="visit.status"
                    value='not_visited'}}
                  Not Visited
                </label>
                {{#if currentUser.isPrivileged}}
                  <label class="btn btn-default">
                    {{view "radioButton"
                      name=visit.id
                      selectedValueBinding="visit.status"
                      value='other'}}
                    Other
                  </label>
                {{/if}}
                <button type="button" class="btn btn-warning btn-clear" {{action 'clearSelection'}}>Clear</button>
              </div>
              <div class="col-md-14">
                {{text-area
                  value=visit.notes
                  placeholder="Spiritual or Physical Needs/Notes"
                  formController=controller}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/unless}}
{{/each}}

<div class="text-center">
  <button type="button" class="btn btn-primary" {{action 'saveVisits'}}>Save Visits</button>
  {{#if showSaveNotice}}
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
  {{/if}}
</div>
