<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sister</th>
        <th>{{previousMonth}}</th>
        <th>Notes</th>
        <th>{{currentMonth}}</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#each sister in sortedSisters}}
        {{#unless sister.isNew}}
          <tr>
            <td>{{sister.fullName}}</td>
            {{#each visit in sister.visits itemController='visit'}}
              <td>{{visit.statusHumanize}}</td>
              <td>{{visit.notes}}</td>
            {{/each}}
          </tr>
        {{/unless}}
      {{/each}}
      <tr>
        <td>
          Percents
        </td>
        <td>
          {{previousMonthPercentVisited}}% Visited
        </td>
        <td></td>
        <td>
          {{currentMonthPercentVisited}}% Visited
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
