<div class="row">
  <div class="col-md-3 col-md-offset-3 col-xs-10 col-xs-offset-1 col-lg-3 col-lg-offset-3">
    {{my-chosen
      label='Month'
      selection=month
      content=months
      optionValuePath='id'
      optionLabelPath='name'
      isRelational=false
      prompt='Select a Month'
      allowSingleDeselect=false
      action=(action "monthChanged")}}
  </div>
</div>

{{#each sortedPeople as |person|}}
  {{#unless person.isNew}}
    <div class="row">

      <div class="col-md-3">
        <div class="text-center hidden-md hidden-lg label-large-transparent label-larger">{{person.fullName}}</div>
        {{#if person.teachers}}
          <div class="text-center hidden-md hidden-lg label-large-transparent label-larger">Teachers: {{person.teachers}}</div>
        {{/if}}
        {{#if currentUser.model.isPrivileged}}
          <div class="text-center hidden-md hidden-lg">
            {{#link-to 'district.visits.histories' person}}History{{/link-to}}
          </div>
        {{/if}}
      </div>

      <div class="clearfix"></div>
      <div class="col-md-3 text-right">
        <span class="hidden-xs hidden-sm label-large-transparent label-larger">{{person.fullName}}</span>
        {{#if person.teachers}}
          <div class="hidden-xs hidden-sm label-large-transparent label-larger">Teachers: {{person.teachers}}</div>
        {{/if}}
        {{#if currentUser.model.isPrivileged}}
          <div class="hidden-xs hidden-sm">
            {{#link-to 'district.visits.histories' person}}History{{/link-to}}
          </div>
        {{/if}}
      </div>

      <div class="text-center col-md-7">
        <div class="row">
          {{visit-edit
            currentUser=currentUser
            person=person
            month=month
            visits=model}}
        </div>
      </div>
    </div>
  {{/unless}}
{{/each}}

<div class="text-center">
  <button type="button" class="btn btn-primary" {{action 'saveVisits'}}>Save Visits</button>
  {{#if showSaveNotice}}
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
  {{/if}}
</div>
