<div class="row">
  <div class="col-md-3 col-md-offset-3 col-xs-10 col-xs-offset-1 col-lg-3 col-lg-offset-3">
    {{my-chosen
      label='Month'
      selection=month
      content=months
      optionValuePath='id'
      optionLabelPath='name'
      isRelational=false
      prompt='Select a Month'
      allowSingleDeselect=false
      action=(action "monthChanged")}}
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="report-people-title">{{peopleTitle}}</th>
        <th class="report-people-title">Teachers</th>
        <th class="report-month">{{selectedMonthWord}}</th>
        <th class="report-notes">Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#if sortedPeople}}
        {{#each sortedPeople as |person|}}
          {{#unless person.isNew}}
            <tr>
              <td>{{person.fullNameReversed}}</td>
              <td>{{person.district.name}}</td>
              <td>{{person.teachers}}</td>
              {{visit-show visit=person.selectionMonthVisit}}
            </tr>
          {{/unless}}
        {{/each}}
      {{/if}}
      <tr>
        <td></td>
        <td>
          Percents
        </td>
        <td></td>
        <td>
          {{selectedMonthPercentVisited}}% Visited
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
