{{#each sister in sortedSisters}}
  <div class="row">
    <div class="text-center hidden-md hidden-lg">{{sister.fullName}}</div>
    {{!-- <h4 class="sisterName hidden-xs hidden-sm">{{sister.fullName}}</h4> --}}
    <div class="clearfix"></div>
    <div class="text-center">
      <span class="hidden-xs hidden-sm">{{sister.fullName}}</span>
      {{#each visit in sister.visits itemController='visit'}}
        <div class="btn-group well well-sm" role="group" aria-label="...">
          <h4 class="text-center"><span class="label label-default">{{visit.monthFormatted}}</span></h4>
          <label class="btn btn-default">
            {{view "radioButton"
              name=visit.id
              selectedValueBinding="visit.status"
              value='visited'}}
            Visited
          </label>
          <label class="btn btn-default">
            {{view "radioButton"
              name=visit.id
              selectedValueBinding="visit.status"
              value='not_visited'}}
            Not Visited
          </label>
          {{#if currentUser.canSetVisitsToOther}}
            <label class="btn btn-default">
              {{view "radioButton"
                name=visit.id
                selectedValueBinding="visit.status"
                value='other'}}
              Other
            </label>
          {{/if}}
          <button type="button" class="btn btn-warning" {{action 'clearSelection'}}>Clear</button>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}

<div class="text-center">
  <button type="button" class="btn btn-primary" {{action 'saveVisits'}}>Save Visits</button>
  {{#if showSaveNotice}}
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
  {{/if}}
</div>
