<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="report-people-title">{{peopleTitle}}</th>
        <th class="report-people-title">District</th>
        <th class="report-people-title">Teachers</th>
        <th class="report-month">{{previousMonth}}</th>
        <th class="report-notes">Notes</th>
        <th class="report-month">{{currentMonth}}</th>
        <th class="report-notes">Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#if sortedPeople}}
        {{#each person in sortedPeople}}
          {{#unless person.isNew}}
            <tr>
              <td>{{person.fullName}}</td>
              <td>{{person.district.name}}</td>
              <td>{{person.teachers}}</td>
              {{#each visit in person.visits itemController='visit'}}
                <td>{{visit.statusHumanize}}</td>
                <td>{{visit.notes}}</td>
              {{/each}}
            </tr>
          {{/unless}}
        {{/each}}
      {{/if}}
      <tr>
        <td></td>
        <td>
          Percents
        </td>
        <td></td>
        <td>
          {{previousMonthPercentVisited}}% Visited
        </td>
        <td></td>
        <td>
          {{currentMonthPercentVisited}}% Visited
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
