{{#if currentUser.model.isPrivileged}}
  <ul class="nav nav-tabs">
    {{#link-to "district.visits" tagName="li"}}
      <a href={{href}}>Visits</a>
    {{/link-to}}
    {{#link-to peopleLink tagName="li"}}
      <a href={{href}}>{{peopleTitle}}</a>
    {{/link-to}}
    {{#link-to "district.report" tagName="li"}}
      <a href={{href}}>Report</a>
    {{/link-to}}
  </ul>
{{/if}}
{{outlet}}
