<%= form_for @district do |f| -%>

  <% @district.sisters.each do |sister| -%>
    <div>
      <%= sister.name %>
      <%#= hidden_field_tag "district[sisters_attributes][#{sister.id}][name]", sister.name %>
      <% last_month_visit = sister.visits.find_or_create_by(month: Date.today.beginning_of_month - 1.month) -%>
      <% current_month_visit = sister.visits.find_or_create_by(month: Date.today.beginning_of_month) -%>
      <%#= hidden_field_tag "district[sisters_attributes][#{sister.id}][visits_attributes][#{last_month_visit.id}][id]", last_month_visit.id %>
      <%= radio_button("district[sisters_attributes][#{sister.id}][visits_attributes][#{last_month_visit.id}]", "status", "visited") %>
      <%= radio_button("district[sisters_attributes][#{sister.id}][visits_attributes][#{last_month_visit.id}]", "status", "not_visited") %>
      <%= radio_button("district[sisters_attributes][#{sister.id}][visits_attributes][#{last_month_visit.id}]", "status", "other") %>

      <%#= hidden_field_tag "district[sisters_attributes][#{sister.id}][visits_attributes][#{current_month_visit.id}][id]", current_month_visit.id %>
      <%= radio_button("district[sisters_attributes][#{sister.id}][visits_attributes][#{current_month_visit.id}]", "status", "visited") %>
      <%= radio_button("district[sisters_attributes][#{sister.id}][visits_attributes][#{current_month_visit.id}]", "status", "not_visited") %>
      <%= radio_button("district[sisters_attributes][#{sister.id}][visits_attributes][#{current_month_visit.id}]", "status", "other") %>
    </div>
  <% end -%>
  <%= f.submit %>
<% end -%>
