<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container-fluid">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <% if user_signed_in? && current_user.has_any_role? -%>
      <script type="text/javascript">
        window.GLOBAL_SETTINGS = {
          id: '<%= @setting.id %>',
          mode: '<%= @setting.mode %>'
        };
      </script>
      <%= include_ember_script_tags :tracker_client %>
      <%= include_ember_stylesheet_tags :tracker_client %>
    <% end -%>
  </body>
</html>
