<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container-fluid">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <% if user_signed_in? && current_user.has_any_role? -%>
      <%= javascript_include_tag 'districts' %>
    <% end -%>
  </body>
</html>
